/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #00a6fb;
  --ifm-color-primary-dark: #0095e2;
  --ifm-color-primary-darker: #008dd5;
  --ifm-color-primary-darkest: #0074b0;
  --ifm-color-primary-light: #15b0ff;
  --ifm-color-primary-lighter: #22b4ff;
  --ifm-color-primary-lightest: #47c1ff;
}

/* Settings for dark theme */
[data-theme='dark'] {
  --ifm-color-primary: #49b6ff;
  --ifm-color-primary-dark: #28a9ff;
  --ifm-color-primary-darker: #18a2ff;
  --ifm-color-primary-darkest: #008ae6;
  --ifm-color-primary-light: #6ac3ff;
  --ifm-color-primary-lighter: #7acaff;
  --ifm-color-primary-lightest: #abddff;
}
